.about-me {
    background-color: #F6F6F6;
    padding: 120px 0 106px 0;
}
.about-me__container {
    max-width: 485px;
    text-align: center;
}
.container {
}
.about-me__title {
    font-size: 34px;
    padding-bottom: 30px;
}
.about-me__text {
    line-height: 22px;
    font-family: "gilroy";
    font-weight: normal;
    font-size: 18px;
}
.about-me__text:not(:last-child) {
    padding-bottom: 20px;
}

@media (max-width: 425px) {
    .about-me__text br {
        display: none;
    }
}
